:root {
  --main-text: hsla(194, 100%, 41%, 0.92);
}

body {
    background-color: #005e7a;
    font-family: 'Oswald', sans-serif;
    color: hsla(194, 100%, 41%, 0.92);
  }
  
  #inputs-form, #ref-list {
    padding: 2em 0;
    display: grid;
    width: 500px;
    margin: 10em auto;
    display: none;
    
    border-radius: 44px;
    background: #005e7a;
    box-shadow:  8px 8px 11px #00526a,
             -8px -8px 11px #006a8a;
  }
  
  input, button {
    font-family: 'Oswald', sans-serif;
  }
  input:focus {
    outline: none;
  }
  input[type="text"] {
    color: hsl(194, 100%, 3%);
    margin: 5px auto;
    text-align: center;
    width: 30em;
    color: hsla(194, 100%, 41%, 0.92);
    padding: 5px 5px;
    
    border-style: none;
    
    border-radius: 50px;
    background: #006280;
    box-shadow: inset 5px 5px 11px #005873,
              inset -5px -5px 11px #006c8d;
  }
  input[type="submit"], button {
    color: hsla(194, 100%, 41%, 0.92);;
    padding: 5px 5px;
    margin: 20px auto -5px auto;
    width: 15em;
    background-color: hsl(194, 100%, 21%);
    
    border-style: none;
    
    border-radius: 50px;
    background: linear-gradient(145deg, #007194, #005f7c);
    box-shadow:  5px 5px 5px #005873,
             -5px -5px 5px #007ca1;
  }
  ::placeholder {
    color: hsla(194, 100%, 41%, 0.42);
  }
  input:focus {
    border-style: none;
  }

  #error-field {
    margin: 10px auto;
  }

  ul {
      list-style-type: none;
  }